{% extends 'base.html' %}

{% block title %}Order complete{% endblock %}


{% block content %}
<h1>Thank you for your order</h1>
    <table>
        <tbody>
            {% for item in sbi %}
            <tr>
                <td>{{item.product_id.name}} - {{item.product_id.description }}</td>
                <td><img src="{{item.product_id.image.url}}" /> </td>
                <td>{{item.quantity}}</td>
                <td>{{ item.price }}</td>
                <td><a href="/removeitem/{{item.id}}">Remove</a> </td>
            </tr>
                
            {% endfor %}
        </tbody>
    </table>

<p>Ship to: {{ order.shipping_addr }}</p>
<p>Price : {{ order.total_price }} </p>

{% endblock %}