<html>
    <body>
        <script>
            localStorage.setItem("access", "");
            localStorage.setItem("refresh", "");
            window.location.href = "/"; // the "/" is the homepage for node http://127.0.0.1:3000
        </script>
    </body>
</html>